doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        //meta(http-equiv="refresh", content="0; url=http://localhost:8002")
    body
        block content
        h1 Script #{message} Enabled